<app-menu></app-menu>
<div id="crt" class="col-md-6">
                  
            <h2 align="center"><br>Modificar Datos Personales<br><hr></h2>
         
                  
                     
                    
                    <form class="form-horizontal" role="form" method="post" action="php/form.php">
                          <!--  cedula-->

                          <div class="form-group">
                          
                            <label  class="col-xs-4 control-label">Nombre</label>
                            <div class="col-xs-6">
                              <input class="form-control" id="nombre_usuario">
                            </div>
                           
                          </div>

                          <!--  apellido-->
                          <div class="form-group">
                            
                            <label class="col-xs-4 control-label">Apellido</label>
                            <div class="col-xs-6">
                              <input class="form-control" id="apellido_usuario">
                            </div>
                            
                          </div>

                          <!--  telefono-->
                          <div class="form-group">
                         
                            <label class="col-xs-4 control-label">Teléfono</label>
                            <div class="col-xs-6">
                              <input class="form-control" id="telefono_usuario"
                                     placeholder="xxxx-xxxxxxx">
                            </div>
                         
                          </div>

                          <!--  correo-->
                          <div class="form-group">
                      
                            <label for="ejemplo_email_3" class="col-xs-4 control-label">Email</label>
                            <div class="col-xs-6">
                              <input type="email" class="form-control" id="email_usuario"
                                     placeholder="example@correo.com">
                            </div>
                           
                          </div>
                          <div id="div-boton">

                                  <br><td></td><a id="boton" type="submit" class="btn btn-info btn-md" >Cambiar</a>
                                  <br><br>
                          </div>
                          
                     </form>
                  </div>