

  <!--- Jumbotron -->
  <section class="jumbotron">
  	<div class="container">
  		      <h4> UCAB GUAYANA </h4>
  		      <p>Estacionamiento UCAB</p> 
    </div>
  </section>


<div id="menu-lateral" class="col-md-2 ">

    <div class="list-group">
      <a routerLink="/estacionamiento" class="list-group-item"><h4>Estacionamiento</h4></a> 
       <a routerLink="/pases" class="list-group-item"><h4>Pases</h4></a> 
      <a routerLink="/matricula" class="list-group-item"><h4>Datos Vehiculo</h4></a>   
      <a href="#" class="list-group-item"><h4>Configuracion de Usuario</h4></a>
        <ul>
        <!-- cambiar css -->
        <a routerLink="/mod-datos-personales" class="list-group-item" style="background-color: #383a42; color:#fff " ><h4>Modificar datos</h4></a>
        <a routerLink="/mod-contrasena" class="list-group-item" style="background-color: #5d6b82; color:#fff " ><h4>Cambiar contraseña</h4></a>
        </ul>

      <a href="#" class="list-group-item"><h4  >Estadisticas</h4></a>
    </div>


</div>
