<app-menu></app-menu>
<div id="crt" class="col-md-6">
                   
            <h2 align="center"><br>Datos del Vehículo<br><hr></h2>
         
                    
                    <form class="form-horizontal" role="form" method="post" action="php/form.php">
                          <!--  cedula-->

                          <div class="form-group">
                          
                            <label class="col-xs-4 control-label">Matrícula</label>
                            <div class="col-xs-6">
                              <input class="form-control" id="matricula" #matricula>
                            </div>
                      
                          </div>

                           <!-- nombre--> 
                          <div class="form-group">
                      
                            <label  class="col-xs-4 control-label">Modelo</label>
                            <div class="col-xs-6">
                              <input class="form-control" id="modelo" #modelo>
                            </div>
                    
                          </div>

                           <!-- ano_veh--> 
                          <div class="form-group">
                    
                            <label  class="col-xs-4 control-label">Año</label>
                            <div class="col-xs-6">
                              <input class="form-control" id="ano_veh" #ano>
                            </div>
                    
                          </div>

                           <!-- color--> 
                          <div class="form-group">
            
                            <label  class="col-xs-4 control-label">Color</label>
                            <div class="col-xs-6">
                              <input class="form-control" id="color" #color>
                            </div>
                      
                          </div>

                          <div id="div-boton">
            
                            <br><td></td><a id="boton" type="submit" class="btn btn-info btn-md" >Cambiar</a>
                                  <br><br>
                      
                          </div>

                         

                                    
                            
                      
                     </form>
                  </div>