<app-top-bar></app-top-bar>
<app-menu></app-menu>
 <div id="crt" class="col-md-6">
                   
            <h2 align="center"><br>Cambiar Contraseña<br><hr></h2>
         
                    
                    <form class="form-horizontal" role="form" method="post" action="php/form.php">
                          <!--  cedula-->
                          <div class="form-group">
                              <label for="ejemplo_password_3" class="col-xs-4 control-label">Contraseña Anterior</label>
                                <div class="col-xs-6">
                                   <input type="password" class="form-control" id="password_usuario" placeholder="Contraseña">
                                </div>
                            </div>
                           <hr>
                          <div class="form-group">
                              <label for="ejemplo_password_3" class="col-xs-4 control-label">Nueva Contraseña</label>
                                <div class="col-xs-6">
                                   <input type="password" class="form-control" id="password_usuario" placeholder="Contraseña">
                                </div>
                            </div>

                            <div class="form-group">
                              <label for="ejemplo_password_3" class="col-xs-4 control-label">Confirmar</label>
                                <div class="col-xs-6">
                                   <input type="password" class="form-control" id="password_usuario" placeholder="Contraseña">
                                </div>
                            </div>


                          <!--  telefono-->
                          
                          <div id="div-boton">
                                <br><td></td><a id="boton" type="submit" class="btn btn-info btn-md" >Cambiar</a>

                                  <br><br>
                          </div>
                
                     </form>
      </div>