  <header>
       <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
           <div class="container">
           		<div class="navbar-header">
           			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-est">
           				<span class="sr-only">Desplegar / Ocultar Menu</span>
           				<span class="icon-bar"></span>
           				<span class="icon-bar"></span>
           				<span class="icon-bar"></span>
           			</button>
           			<a href="#" class ="navbar-brand">Estacionamiento UCAB</a>
           		</div>
           		<!-- inicia menu -->

           		<div class="collapse navbar-collapse" id="navegacion-est">

           			<ul class="nav navbar-nav">
           				<li ><a href="#">Inicio</a></li>
           				<li><a href="#">Ayuda</a></li>
				  <li><a href="#" class="dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-user">{{ usuario }}</span>
                     <b class="caret"></b>
                  </a></li>
        
           			</ul>

           		</div>
           </div>
       </nav>
  </header>